<launch>
  <node pkg="ros_llm_voice_agent" type="llm_voice_agent_node.py" name="llm_voice_agent" output="screen">
    <param name="agent_config" value="$(find ros_llm_voice_agent)/config/agent.yaml" />
    <param name="tools_config" value="$(find ros_llm_voice_agent)/config/tools.yaml" />
    <param name="safety_config" value="$(find ros_llm_voice_agent)/config/safety.yaml" />
    <param name="prompts_config" value="$(find ros_llm_voice_agent)/config/prompts.yaml" />
    <param name="enable_realtime_stub" value="false" />
  </node>
</launch>
